/* App.css */

*:focus {
  outline: none;
  box-shadow: none;
}

.App {
  padding: 1rem;
  max-width: 1600px;
  margin: 0 auto;
}

.main-content {
  padding: 20px 0;
}

.title-style {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 0;
  color: #34495e; /* Lighter blue */
}

.data-table-wrapper {
  margin-top: 20px;
}
