/* App.css */

.app-container {
  padding: 0 20px;
}

.title-style {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 0;
  color: #34495e; /* Lighter blue */
}

.data-table-container {
  margin: 0 0 20px 0;
  padding: 20px 0;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
